gymnasium==1.0.0
JPype1==1.5.2
peewee==3.17.8
pettingzoo==1.24.3
pre-commit==2.21.0
pytest==6.2.5
spyder==5.5.6
tensorboard==2.18.0
tqdm==4.67.1
trueskill==0.4.5
wandb==0.12.21
stable-baselines3[extra]>=2.5.0
# install torch separately